.shopping-bag-container {
  font-family: 'Istok Web', sans-serif;
  display: flex;
  flex-direction: column;
}

.shopping-bag-header {
  display: flex;
  width: 100%;
  margin-top: 45px;
  margin: 75px 0 0 0;
  border-bottom: solid #C8C9C9 1px;
}
.shopping-bag-header-content {
  display:flex;
  align-items: center;
  margin-left: 30px;
}

.shopping-bag-icon {
  font-size: 20px;
  margin: 0px 10px 7px 0px;
}

.shopping-bag-header-text {
  margin-bottom: 5px;
  font-size: 20px;
}

.shopping-bag-content {
  display: flex;
  width: 100%;
}

.shopping-bag-items-container {
  display: flex;
  width: 56%;
  margin: 30px 0;
}

.shopping-bag-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.cart-item {
  display: flex;
  border-bottom: solid #C8C9C9 1px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 8px;
  margin: 1% 0% 1% 45px;
}

.cart-item-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item img {
  width: 100px;
  float: right;
}
.cart-item p {
  font-size: 80%;
  line-height: 10px;
}
.operator {
 padding: 0px;
 margin-left: 15px;
 margin-right: 17px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  font-size: 14px;
}

.cart-item-info p{
  padding: 0;
  margin: 5px 0 0 0;
}

.remove-item-button {
  background-color: #000000;
  color: #ffffff;
  font-size: 10px;
  height: 30px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 40px;
  border: none;
}

.remove-item-button:hover {
  cursor: pointer;
}

.checkout-card {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 250px;
  margin-left: 65%;
  margin-top: 60px;
}

.checkout-header {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.checkout-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkout-info-labels {
  display: flex;
  flex-direction: column;
}

.checkout-info-values {
  display: flex;
  flex-direction: column;
}

.checkout-button {
  background-color: #000000;
  color: #ffffff;
  font-size: 10px;
  height: 30px;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  border: none;
}

.checkout-card p{
  margin: 5px;
}

.checkout-button:hover {
  cursor: pointer;
}

/*.sizes {
  border: 1px solid black;
  width: 120px;
  height: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}*/

.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}
