

.productList {
  display: flex;
  flex-direction: row;
  margin: 90px;
  flex-wrap: wrap;
  /*align-items: flex-start;*/
  justify-content: center;
}

.product-item {
  margin: 20px;
  width: 23%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Istok Web', sans-serif;
}
.product-item p {
  padding: 0px;
  margin: 2px;
}
.product-item img {
  height: 170px;
}
.shirt-container {
  height: 171px;
  width: 127px;
}
.product-container-item img {
  height: 170px;
}
.design-area {
  /*border: 1px dotted black;*/
  position: absolute;
  margin: 24px 32px;
  width: 90px;
  height: 134px;
  overflow: hidden;
}
.ink {
  opacity: 0.7;
  margin: 0 auto;
  text-align: center;
  max-width: 90px;
  max-height: 134px;
}
