@font-face {

}

.App {

}


.App-intro {
  font-size: large;
}
.nav-bar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: white;
  text-align: center;
}

.nav-title {
  /*margin: 0 auto;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  width: 100;
  /*color: #FFFFFF;*/
  flex: 1;
  margin-left: 10%;
}

#control-button {
  min-width: 10%;
}
