

.productList {
  display: flex;
  flex-direction: row;
  margin: 90px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product-item {
  margin: 0px 20px;
  width: 23%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product-item img {
  height: 170px;
}
